

#twocol {
    column-count: 2;
}



#bulletp li {
    list-style-type: none;
}



#nav1 {
    display: inline;
    border: 20px;
    background-color: grey;
    text-align: center;
}

#navlinkactive {
    color: black;
    font-size: 16px;
    background-color: red;
}

.navlink {
    color: blue;
    font-size: 16px;
    background-color: grey;
    float: left;
    width: 100;
    height: 100%;
    text-align: center;
}

#navlinkactive,
.navlink {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

#bulletp {
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
    top: 0;
    height: 100%;
    display: inline-block;
    background-color: grey;
}

#welcomeimage {
    display: inline-block;
    text-align: center;
    margin-left: 400px;
}

li a:hover:not(.active) {
    background-color: #31bae7;
}

.active {
    color: #4CAF50;
}


.headername {
    text-align: center;
}

#logo {
    text-align: left;
    float: left;
}

#topcolor {
    background-color: #132145;
}

body:before {
    content: "";
    height: 100%;
    width: 0;
    margin-top: -32767px;
}

#fontcomp {
    font-family: 'Cinzel', serif;
    ;
}

#historyfont {
    font-family: 'Architects Daughter', cursive;
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}

#robots1 {
    text-align: center;
}

#indexfooter {
    width: 90%;
    height: 10%;
    text-align: center;
    font-family: 'IM Fell Great Primer', serif;
}

#questions {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
    text-align: center;
}

#contact1 {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}
#robo1bc:hover, #robo2bc:hover, #robo3bc:hover {
    background-color:yellow;
}

#robo1bc {
    background-color: #b0e0e6;
}

#robo2bc {
    background-color: #bae1ff;
    text-align: center;
}

#robo3bc {
    background-color: #d0f4f3;
    text-align: center;
}

#robo1bc,
#robo2bc,
#robo3bc li {
    list-style-type: none
}

#contactform1 {
    margin: auto;
    width: 60%;
    border: 3px solid #16cac3;
    padding: 10px;
    text-align: center;
}

#hardware1 {
    margin: auto;
    width: 60%;
    border: 3px solid #296b0e;
    padding: 10px;
    text-align: center;
}










#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}


    
label:hover, label:active, input:hover+label, input:active+label {
    background:yellow;
}

input:focus {
    background-color:yellow;
}

textarea:focus {
    background-color:yellow;
}






* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}