@media (max-width:991px) {
    .pclinks {
        visibility: hidden;
    }
    .pclogo {
        visibility: hidden;
    }
}

@media (min-width:991px) {
    .mobilelinks {
        visibility: hidden;
    }
    .mobilelogo {
        visibility: hidden;
        float: left;
    }
}

#mobilelogos {
    float: left;
    width: 50%;
}

#linkactive {
    background-color: red !important;
}

.nav-link active.a {
    background-color: red !important;
}

.nav-link:hover {
    background-color: green !important;
}

.nav-link {
    color: white !important;
}


.nogap {
    padding: 0 !important;
    margin: 0 !important;
}

li {
    list-style-type: none;
}


#logo {
    text-align: left;
    float: left;
}

#topcolor {
    background-color: #132145;
}

body:before {
    content: "";
    height: 100%;
    width: 0;
    margin-top: -32767px;
}

#fontcomp {
    font-family: 'Cinzel', serif;
    border-style: groove;
    border-width: 10px;
    border-color: grey white grey black;
    padding: 0px;
}

#historyfont {
    font-family: 'Architects Daughter', cursive;
    margin: auto;
    width: 60%;
    padding: 10px;
}



#indexfooter {
    width: 90%;
    height: 10%;
    text-align: center;
    font-family: 'IM Fell Great Primer', serif;
}


#productofthemonth {
    text-align: center !important;
}




#descriptionbot {
    color: darkturquoise;
    font-size: 12px;
}


#twocol {
    column-count: 2
}




label:hover,
label:active,
input:hover+label,
input:active+label {
    background: yellow !important;
}

input:focus {
    background-color: yellow !important;
}

textarea:focus {
    background-color: yellow !important;
}






* {
    box-sizing: border-box;
}

#myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}




#textarea1 {
    resize: none;
    overflow: none;
    width:100%;
    height:100%;
}

@media screen and (max-width: 767px) {
    textarea {
        width:100%;
    }
    #pagify1 {
    font-size:50px;
    text-align:center;
}
}


